[submodule "Plugins/SuperTagKitPlugin/HaversineSatelliteLibrary_CPP"]
	path = Plugins/SuperTagKitPlugin/HaversineSatelliteLibrary_CPP
	url = git@github.com:HyperionSensing/HaversineSatelliteLibrary_CPP.git
