[submodule "Plugins/SuperKitPlugin/HaversineSatelliteLibrary_CPP"]
	path = Plugins/SuperKitPlugin/HaversineSatelliteLibrary_CPP
	url = git@github.com:HyperionSensing/HaversineSatelliteLibrary_CPP.git
